services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT}:8080"
    restart: unless-stopped
    env_file:
      - server/.env

  mongodb:
    image: bitnami/mongodb:8.0
    env_file:
      - server/.env
    volumes:
      - ./${COMPOSE_PROJECT_NAME}-dbdata:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
    restart: unless-stopped

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT}:8080"
